version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_prod
    env_file:
      - env/prod/.env
    environment:
      - APP_ENV=prod
    ports:
      - "80:8000"
    restart: always