version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_prod
    env_file:
      - env/prod/.env
    environment:
      APP_ENV: prod
      KAGGLE_CONFIG_DIR: /root/.kaggle
    volumes:
      - ./.kaggle:/root/.kaggle:ro
    ports:
      - "80:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always